.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .disabledUser {
      background-color: rgba(180, 180, 180, 0.863)
  }

  .success {
      background-color: green
  }