<mat-card>
  <button mat-raised-button (click)="showUserForm = !showUserForm">
    Add
  </button>
  <ng-container *ngIf="showUserForm">
    <h2>Add User</h2>

    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

      <div class="example-container">

        <mat-form-field>
          <input [(ngModel)]="user.firstName" name="firstName" matInput placeholder="Name" #user.firsName="ngModel" required >
        </mat-form-field>

        <mat-form-field>
          <input [(ngModel)]="user.lastName" name="lastName" matInput placeholder="Last name" #user.lastname="ngModel" required>
        </mat-form-field>

        <mat-form-field>
          <input [(ngModel)]="user.email" name="email" matInput placeholder="email" #user.email="ngModel" required minlength="4">
        </mat-form-field>

        <mat-form-field>
          <input [(ngModel)]="user.image" name="image" matInput placeholder="Image as URL please" #user.image="ngModel" >
        </mat-form-field>

        <br>
        <button [disabled]="!userForm.valid" mat-flat-button>Add User
        </button>
      </div>
    </form>


  </ng-container>
  <ng-container *ngIf="loaded; else loading">
    <ng-container *ngIf="users.length > 0; else noUsers">
      <mat-list *ngFor="let user of users">
        <mat-card class="example-card" [class.disabledUser]="!user.isActive">
          <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>{{user.firstName | uppercase }}, {{user.lastName}}</mat-card-title>
            <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
            <span class="example-spacer"></span>
            <button mat-raised-button (click)="toggleView(user)">

              Show {{hidden}}
            </button>
          </mat-card-header>
          <img *ngIf="showExtended" mat-card-image [src]="user.image">
          <mat-card-content *ngIf="!user.hide">
            <p>Joined: {{user.registered | date:"mm/dd/yyyy" }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </mat-list>
    </ng-container>
    <ng-template #noUsers>
      <h1>
        NO Users
      </h1>
    </ng-template>
  </ng-container>

  <ng-template #loading>
    <h4>Loading users ... </h4>
  </ng-template>

</mat-card>