<mat-card>
  <mat-card-header>
    <mat-card-title>Edit {{client.firstName}} </mat-card-title>
    <mat-card-subtitle>{{client.balance}}</mat-card-subtitle>
  </mat-card-header>
  <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
    <mat-card-content>

      <div class="example-container">
        <mat-form-field>
          <input type="text" name="firstName" #clientFirstName="ngModel" [(ngModel)]="client.firstName" matInput placeholder="First Name">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input type="text" name="lastName" #clientLastName="ngModel" [(ngModel)]="client.lastName" matInput placeholder="Last Name">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input type="email" name="email" #clientEmail="ngModel" [(ngModel)]="client.email" matInput placeholder="Email">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input type="number" name="balance" #clientBalance="ngModel" [(ngModel)]="client.balance" [disabled]="disableBalanceOnEdit" matInput placeholder="balance">
        </mat-form-field>
        <br>
      </div>

    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/client/{{id}}" routerLinkActive="router-link-active">
          <span>
              <mat-icon>arrow_back</mat-icon>
          </span>
        </a>

      <button mat-raised-button type="submit" value="Submit">Submit</button>

    </mat-card-actions>
  </form>
</mat-card>
